@import "tailwindcss";
@plugin "daisyui";

/* PINK/LIGHT THEME */
@plugin "daisyui/theme" {
  name: "rosepetal";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.01 340); /* Soft Pink White */
  --color-base-200: oklch(94% 0.02 340);
  --color-base-300: oklch(90% 0.03 340);
  --color-base-content: oklch(30% 0.05 340);
  --color-primary: oklch(70% 0.15 345); /* Sweet Pink */
  --color-secondary: oklch(85% 0.1 200); /* Soft Baby Blue */
  --color-accent: oklch(80% 0.12 300); /* Lavender */
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 1.5rem;
}

/* BLUE/DARK THEME */
@plugin "daisyui/theme" {
  name: "oceandream";
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(20% 0.04 250); /* Deep Midnight Blue */
  --color-base-200: oklch(15% 0.04 250);
  --color-base-300: oklch(10% 0.04 250);
  --color-base-content: oklch(95% 0.02 250);
  --color-primary: oklch(75% 0.12 220); /* Sky Blue */
  --color-secondary: oklch(75% 0.15 350); /* Bright Pink */
  --color-accent: oklch(85% 0.1 180); /* Mint */
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 1.5rem;
}
